
h2 {
  text-align: left;
  margin: 0 20px;
  font-size: 2rem;
  color: var(--text-main);
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  padding: 20px;
}

.game-card {
  position: relative;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  height: 280px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.game-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
}

.game-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 11px;
  background: rgba(0, 0, 0, 0.356);
  padding: 5px;
  border-radius: 0 0 8px 8px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.game-card:hover .game-info {
  opacity: 1;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.game-rating {
  position: absolute;
  top: 10px;
  right: 10px;

  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4px);

  padding: 4px 8px;
  border-radius: 999px;

  font-size: 12px;
  font-weight: 600;
  color: #ffd700;

  display: flex;
  align-items: center;
  gap: 4px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);

  z-index: 2;
}



@media (max-width: 1600px) {
  .games-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1200px) {
  .games-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .games-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .games-grid {
    grid-template-columns: 1fr;
  }
}
