<div class="game-card" (click)="onCardClick()">
  <div class="game-image" [style.backgroundImage]="backgroundImage">

    <div class="game-rating">
    ⭐ {{ game.rating !== null && game.rating !== undefined
          ? (game.rating | number:'1.1-2')
          : 'N/A' }}    
      </div>

    <div class="game-info">
      <h3>{{ game.name }}</h3>

      <app-game-actions
        [game]="game"
        [isBookmarked]="isBookmarked"
        (bookmarkToggled)="onBookmarkChange($event)"
      ></app-game-actions>
    </div>
  </div>
</div>
