.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(2px);
  z-index: 50;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-secondary);
  padding: 2rem;
  width: 400px;
  border-radius: 12px;
  color: var(--text-main);
  z-index: 100;
  box-shadow: 0 0 20px rgba(0,0,0,.4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

textarea,
input {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 6px;
  padding: 0.7rem;
  background: var(--background-secondary-dark);
  border: 1px solid #333;
  color: var(--text-main);
  outline: none;
  font-family: 'Noto Sans', sans-serif;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button {
  background: none;
  color: var(--text-main);
  border: 1px solid var(--text-secondary);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit-btn:hover {
  background-color: var(--primary-color);
}

.cancel-btn:hover {
  background-color: var(--error-color);
}
