<div *ngIf="show">
  <div class="modal-backdrop" (click)="modalManager.closeCustomListModal()"></div>

  <div class="modal" (click)="$event.stopPropagation()">

    <img 
      src="assets/images/icons/cross.svg" 
      alt="Close" 
      class="close-btn"
      (click)="modalManager.closeCustomListModal()"
    />

    <div class="modal-content">

      <div class="modal-left">
        <div 
          class="background-layer"
          [style.backgroundImage]="'url(' + game?.backgroundImage + ')'"
        ></div>

        <div class="game-title">
          {{ game?.name }}
        </div>
      </div>

      <div class="modal-right">
        <h3>Add to Custom List</h3>

        <div class="lists-container">
          <ul class="status-list">
            <li
              *ngFor="let list of lists"
              (click)="toggleList(list.id)"
              [class.selected]="selectedListIds.has(list.id)">
              {{ list.title }}
            </li>
          </ul>
        </div>

        <div class="action-btns">
          <button
            class="action-btn clear-btn"
            (click)="selectedListIds.clear()">
            Clear
          </button>
        
          <button
            class="action-btn submit-btn"
            [disabled]="false"
            (click)="save()">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>