.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(2px);
  z-index: 90;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background-secondary-dark);
  padding: 22px;
  border-radius: 12px;
  width: 340px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.close-btn {
  width: 20px;
  height: 20px;
  align-self: end;
  cursor: pointer;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input-wrapper label {
  text-align: center;
  color: var(--text-main);
}

input[type="number"] {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid var(--background-secondary);
  background: var(--background-secondary);
  color: var(--text-main);
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.action-btn {
  background: none;
  color: var(--text-main);
  border: 1px solid var(--text-secondary);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.save-btn:hover {
  background-color: var(--primary-color);
}

.cancel-btn:hover {
  background-color: var(--error-color);
}
