.collection-chart {
  width: 100%;
  margin: 0 auto 2rem;  /* sin max-width */
}

.collection-chart .chart {
  width: 100%;
  height: 300px;
}

@media (max-width: 600px) {
  .collection-chart .chart {
    height: 220px;
  }
}