<div class="modal-backdrop" (click)="close.emit()">
  <div class="modal" (click) ="$event.stopPropagation()">

    <div class="mode-toggle">
      <span
        class="mode-option"
        [class.active]="isLoginMode"
        (click)="setMode(true)"  
      >
        Login
      </span>
      <span
        class="mode-option"
        [class.active]="!isLoginMode"
        (click)="setMode(false)"  
      >
        Join
      </span>
    </div>

    <h2>{{ isLoginMode ? 'Login GT' : 'Join GT' }}</h2>

    <form (ngSubmit)="onSubmit()">
      <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
      <!-- <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required /> -->
    <div class="password-wrapper">
      <input
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="password"
        name="password"
        placeholder="Password"
        required
      />

      <span
        class="eye-icon"
        (mousedown)="showPassword = true"
        (mouseup)="showPassword = false"
        (mouseleave)="showPassword = false"
        (touchstart)="showPassword = true"
        (touchend)="showPassword = false"
      >
        @if (showPassword) {
          <!-- 👁 OJO ABIERTO -->
          <img class="eye" src="/assets/images/icons/eye-show-svgrepo-com.svg" alt="">
        } @else {
          <!-- 🙈 OJO CERRADO -->
          <img class="eye" src="/assets/images/icons/eye-off-svgrepo-com.svg" alt="">
        }
      </span>
    </div>
      @if (!isLoginMode) {
        <input
          type="text"
          [(ngModel)]="username"
          name="username"
          placeholder="Username"
          required
        />
      }

      <button type="submit">{{ isLoginMode ? 'Login' : 'Register' }}</button>
    </form>

    <!-- ✅ AÑADE ESTO -->
    @if (isLoginMode) {
      <a class="forgot-link" (click)="goToForgotPassword()">
        ¿Olvidaste tu contraseña?
      </a>
    }

    <p class="message">{{ message }}</p>

    <p class="message">{{ message }}</p>

    
  </div>
</div>
