h2 {
  text-align: left;
  margin: 20px 20px 0 20px;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--text-main);
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 1600px) {
  .games-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1200px) {
  .games-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .games-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .games-grid {
    grid-template-columns: 1fr;
  }
}

.game-card {
  position: relative;
  background-color: var(--background-secondary);
  color: var(--text-main);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  height: 280px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.game-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
}

.game-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 11px;
  background: rgba(0, 0, 0, 0.4);
  padding: 5px;
  border-radius: 0 0 8px 8px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.game-card:hover .game-info {
  opacity: 1;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icons img {
  width: 24px;
  height: 24px;
  filter: invert(1);
}

.load-more-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.load-more-btn:hover {
  background-color: var(--hover-color);
}
