<div class="icons">

  <img 
    src="assets/images/icons/controller.svg" 
    alt="Controller"
    width="16"
    height="16"
    title="Set collection status"
    (click)="openStatusModal(game, $event)" />

    <img
    (click)="toggleBookmark($event)"
    [src]="isBookmarked 
      ? 'assets/images/icons/bookmark-filled.svg' 
      : 'assets/images/icons/bookmark.svg'"
    alt="Bookmark"
    width="16"
    height="16"
    title="Guardar en wishlist"
  />

  <img 
    src="assets/images/icons/list.svg" 
    alt="List" 
    width="16" 
    height="16"
    title="Add to custom list"
    (click)="openCustomListModal(game, $event)"
  />

  <app-rating-modal
    class="rating-modal"
    [showRating]="showRatingModal"
    [initialRating]="currentRating || 0"
    (close)="showRatingModal = false"
    (save)="onSaveRating($event)">
  </app-rating-modal>

</div>
