<div *ngIf="showRating">
  <div class="modal-backdrop" (click)="onBackdropClick($event)"></div>
  <div class="modal" (click)="$event.stopPropagation()">
    <h3>Rate this game</h3>
    
    <div class="stars">
      <ng-container *ngFor="let i of [1,2,3,4,5]">
        <img
          class="star"
          [src]="i <= (hover > 0 ? hover : rating) ? '../../../assets/images/icons/star-filled.svg' : '../../../assets/images/icons/star.svg'"
          [class.filled]="i <= (hover > 0 ? hover : rating)"
          height="26px" 
          width="26px"
          (mouseenter)="setHover(i)"
          (mouseleave)="clearHover()"
          (click)="selectRating(i); $event.stopPropagation()"
          alt="{{ i }} stars"
        />
      </ng-container>
    </div>

    <div class="modal-buttons">
      <button class="action-btn cancel-btn" (click)="onClose(); $event.stopPropagation()">Cancel</button>
      <button class="action-btn submit-btn" (click)="onConfirm(); $event.stopPropagation()">Submit</button>
    </div>

  </div>
</div>
