<app-game-status-modal
  [show]="showStatus"
  [currentStatus]="currentGame?.status || null"
  [game]="currentGame"
  (selectStatus)="onSelectStatus($event)"
  (close)="showStatus = false"
></app-game-status-modal>

<app-rating-modal
  [showRating]="showRatingModal"
  [initialRating]="currentGame?.userRating || 0"
  (close)="showRatingModal = false"
  (save)="onSaveRating($event)"
></app-rating-modal>

<app-playtime-modal
  [showPlaytime]="showPlaytimeModal"
  [initialPlaytime]="currentGame?.playtime || 0"
  (save)="onSetPlaytime($event)"
  (close)="showPlaytimeModal = false"
></app-playtime-modal>

<app-review-modal
  [showReview]="showReviewModal"
  [initialReview]="currentGame?.review || ''"
  (save)="onSaveReview($event)"
  (close)="showReviewModal = false"
></app-review-modal>

<app-select-custom-list-modal
  [show]="showCustomListModal"
  [game]="currentGame"
></app-select-custom-list-modal>