/* You can add global styles to this file, and also import other style files */

/* Fuente principal */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* Fuente "gamer" */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

/* Paleta de colores */
@import './styles/colors.css';


/* IONIC STYLES*/
/* 
@import '@ionic/angular/css/core.css';

@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';

@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';
@import '@ionic/angular/css/display.css'; */

/* Tus estilos personalizados aquí */


html, body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--background);
  z-index: 1;
}

html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box
}
