html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.router-content {
  flex: 1;
  display: flex;
  flex-direction: column;

  ion-app {
    position: static;
    contain: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
  }

  ion-router-outlet {
    position: static;
    contain: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
  }
}

app-footer {
  flex-shrink: 0;
  margin-top: auto;
}