<div class="app-container">
  @if (showNav) {
    <app-nav></app-nav>
  }

  <div class="main-content">
    <app-modal-manager></app-modal-manager>
    <main class="router-content">
      @if (isMobile) {
        <ion-app>
          <ion-router-outlet></ion-router-outlet>
        </ion-app>
      } @else {
        <router-outlet></router-outlet>
      }
    </main>
    
    <app-alert-modal
      [alert]="alertService.alert$ | async"
      (close)="alertService.close()"
    ></app-alert-modal>
  </div>

  @if (showNav) {
    <app-footer></app-footer>
  }
</div>